.error-message {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  margin-top: 32px;

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  h2 {
    font-size: 32px;
    margin: 0 16px;
  }

  p {
    font-size: 24px;
    margin: 0 16px;
  }
}
